__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env
venv/
.venv/
datasets/mlcq_enriched_dataset.csv
datasets/mlcq_files_inserts.sql
datasets/mlcq_smell_occurrences_inserts.sql
ls-data/
integrations/label_studio/snapshots/*.json
